/*
Based off of the Ayu theme
Original by Dempfi (https://github.com/dempfi/ayu)
*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #191f26;
  color: #e6e1cf;
  padding: 0.5em;
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #5c6773;
  font-style: italic;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #ff7733;
}

.hljs-number,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #ffee99;
}

.hljs-string,
.hljs-bullet {
  color: #b8cc52;
}

.hljs-title,
.hljs-built_in,
.hljs-section {
  color: #ffb454;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: #ff7733;
}

.hljs-name {
    color: #36a3d9;
}

.hljs-tag {
    color: #00568d;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #91b362;
}

.hljs-deletion {
  color: #d96c75;
}



.hljs-ssb-section {
  color: #4ce6ed;
}

.hljs-ssb-comment {
  color: #979797;
}

.hljs-ssb-section-title {
  font-weight: bold;
}

.hljs-ssb-section-title {
  color: #41c3c9;
}

.hljs-ssb-attribute-name {
  color: #6fddd7;
}

.hljs-ssb-attribute-value {
  color: #00ba00;
}

.hljs-ssb-macro-name {
  color: #b4555d;
}

.hljs-ssb-event-line {
  color: #c7a161;
}

.hljs-ssb-event {
  color: #4183bf;
}

.hljs-ssb-event-timestamp {
  color: #61c08d;
}

.hljs-ssb-event-separator {
  color: black;
}

.hljs-ssb-event-macro,
.hljs-ssb-macro-insert {
  color: #66cbc5;
}
