.hljs-ssb-section {
  color: #349da2;
}

.hljs-ssb-comment {
  color: #c1c1c1;
}

.hljs-ssb-section-title {
  font-weight: bold;
}

.hljs-ssb-section-title {
  color: #349da2;
}

.hljs-ssb-attribute-name {
  color: #5ab3ae;
}

.hljs-ssb-attribute-value {
  color: green;
}

.hljs-ssb-macro-name {
  color: #8c4248;
}

.hljs-ssb-event-line {
  color: #8c7144;
}

.hljs-ssb-event {
  color: #30608c;
}

.hljs-ssb-event-timestamp {
  color: #468b66;
}

.hljs-ssb-event-separator {
  color: black;
}

.hljs-ssb-event-macro,
.hljs-ssb-macro-insert {
  color: #5ab3ae;
}





.coal .hljs-ssb-section {
  color: #4ce6ed;
}

.coal .hljs-ssb-comment {
  color: #979797;
}

.coal .hljs-ssb-section-title {
  font-weight: bold;
}

.coal .hljs-ssb-section-title {
  color: #41c3c9;
}

.coal .hljs-ssb-attribute-name {
  color: #6fddd7;
}

.coal .hljs-ssb-attribute-value {
  color: #00ba00;
}

.coal .hljs-ssb-macro-name {
  color: #b4555d;
}

.coal .hljs-ssb-event-line {
  color: #c7a161;
}

.coal .hljs-ssb-event {
  color: #4183bf;
}

.coal .hljs-ssb-event-timestamp {
  color: #61c08d;
}

.coal .hljs-ssb-event-separator {
  color: black;
}

.coal .hljs-ssb-event-macro,
.coal .hljs-ssb-macro-insert {
  color: #66cbc5;
}



.navy .hljs-ssb-section {
  color: #4ce6ed;
}

.navy .hljs-ssb-comment {
  color: #979797;
}

.navy .hljs-ssb-section-title {
  font-weight: bold;
}

.navy .hljs-ssb-section-title {
  color: #41c3c9;
}

.navy .hljs-ssb-attribute-name {
  color: #6fddd7;
}

.navy .hljs-ssb-attribute-value {
  color: #00ba00;
}

.navy .hljs-ssb-macro-name {
  color: #b4555d;
}

.navy .hljs-ssb-event-line {
  color: #c7a161;
}

.navy .hljs-ssb-event {
  color: #4183bf;
}

.navy .hljs-ssb-event-timestamp {
  color: #61c08d;
}

.navy .hljs-ssb-event-separator {
  color: black;
}

.navy .hljs-ssb-event-macro,
.navy .hljs-ssb-macro-insert {
  color: #66cbc5;
}



.ayu .hljs-ssb-section {
  color: #4ce6ed;
}

.ayu .hljs-ssb-comment {
  color: #979797;
}

.ayu .hljs-ssb-section-title {
  font-weight: bold;
}

.ayu .hljs-ssb-section-title {
  color: #41c3c9;
}

.ayu .hljs-ssb-attribute-name {
  color: #6fddd7;
}

.ayu .hljs-ssb-attribute-value {
  color: #00ba00;
}

.ayu .hljs-ssb-macro-name {
  color: #b4555d;
}

.ayu .hljs-ssb-event-line {
  color: #c7a161;
}

.ayu .hljs-ssb-event {
  color: #4183bf;
}

.ayu .hljs-ssb-event-timestamp {
  color: #61c08d;
}

.ayu .hljs-ssb-event-separator {
  color: black;
}

.ayu .hljs-ssb-event-macro,
.ayu .hljs-ssb-macro-insert {
  color: #66cbc5;
}
