.hljs-ssb-section {
  color: #349da2;
}

.hljs-ssb-comment {
  color: #c1c1c1;
}

.hljs-ssb-section-title {
  font-weight: bold;
}

.hljs-ssb-section-title {
  color: #349da2;
}

.hljs-ssb-attribute-name {
  color: #5ab3ae;
}

.hljs-ssb-attribute-value {
  color: green;
}

.hljs-ssb-macro-name {
  color: #8c4248;
}

.hljs-ssb-event-line {
  color: #8c7144;
}

.hljs-ssb-event {
  color: #30608c;
}

.hljs-ssb-event-timestamp {
  color: #468b66;
}

.hljs-ssb-event-separator {
  color: black;
}

.hljs-ssb-event-macro,
.hljs-ssb-macro-insert {
  color: #5ab3ae;
}
